#profil-bio {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
    #profil-bio img {
      height: 4em;
      margin-left: auto;
      margin-right: auto;
      /*float: left;*/
    }
    #profil-bio .user-name-status {
      text-align: center;
    }
    .user-name {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #e74f36;
    }
    .user-status {
      font-size: 1.3rem;
      margin-bottom: .5em;
    }
    .bio-control {
      text-align: center;
    }
    .control {
      padding-left: .6em;
      text-align: left;
    }
    .control .active {
      color: #e74f36;
    }
    .control li {
      list-style-type: none;
      margin-bottom: .4em;
    }
    .control li a {
      color: #333;
    }
    .control li a:hover {
      text-decoration: none;
    }
    .control li i {
      margin-right: .4em;
    }
    .settings h3 {
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
      color: #e74f36;
    }
    .profil-setting {
      padding-left: .6em;
      margin-bottom: 0px;
    }
    .profil-setting li {
      list-style-type: none;
      text-align: left;
      margin-bottom: .4em;
    }
    .profil-setting li a {
      color: #333;
    }
    .profil-setting li a:hover {
      text-decoration: none;
    }
    .profil-setting li i {
      margin-right: .4em;
    }
