body {
  background: #f2dede;
  font-family: 'Roboto', sans-serif;
  right: 0;
  margin: 0;
/*  overflow: hidden;
  position: relative;*/
  padding-top: 60px;
  padding-bottom: 60px;
}

#register-section {
  margin-top: 5em;
  margin-bottom: 5em;
  color: #e74f36;
  border-radius: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus {
  border-color: rgba(231, 79, 54, 0.7);
  box-shadow: none;
  outline: 0 none;
}
.error {
  margin-bottom: 0px;
}
.panel-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #e74f36
}

#user-email, #user-password, #user-name {
  margin-bottom: 1em;
}

#user-password-konfirm {
  margin-bottom: 0px;
}

.panel-footer {
  text-align: center;
}

.panel-footer p {
  color: #000;
}

#btn-registrasi {
  color: #fff;
  background-color: #e74f36;
  border-radius: 30px;
  width: 140px;
  height: 35px;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer {
  background-color: #e74f36;
  margin-top: 1em;
  padding: 1em 1.5em;
}

footer p {
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0px;
}

footer nav {
  /*float: right;*/
  text-align: right;
}

footer nav a {
  font-size: 1.5em;
  margin-left: .75em;
  color: #ffffff;
}
