body {
  background-color: #e74f36;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

.banner h1 {
  color: #fff;
  font-size: 30em !important;
  font-weight: bold;
  text-align: center;
  line-height: .85em;
  margin-bottom: 0px;
  margin-top: 1rem;
}

.banner p {
  text-align: center;
  color: #fff;
  font-size: 2em;
  letter-spacing: 7px;
  font-weight: 400;
  margin-bottom: 2em;
}

.banner img {
  height: 3em;
  margin-right: auto;
  margin-left: auto;
}