body {
  background: #f2dede;
  font-family: 'Roboto', sans-serif;
  right: 0;
  margin: 0;
/*  overflow: hidden;
  position: relative;*/
  padding-top: 60px;
}

#filter-md {
  background: #fff;
  /*margin-top: 60px;*/
  margin-bottom: 1em;
  padding-bottom: 10px;
  border-radius: 5px;
  /*height: 100px;*/
  width: 205px;
  position: fixed;
  top: 60px;
  left: 10px;
}
#filter-md h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  color: #e74f36;
  margin: 0;
  padding-top: .75em;
}

#filter-sm-xs {
  background: #fff;
  margin-bottom: 1em;
  padding-bottom: 10px;
  border-radius: 5px;
}

#filter-sm-xs h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  color: #e74f36;
  margin: 0;
  padding-top: .75em;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus {
  border-color: rgba(231, 79, 54, 0.7);
  box-shadow: none;
  outline: 0 none;
}

#cari-filter {
  border-radius: 40px;
  background: #e74f36;
  color: #ffffff;
}
#konten {
  background: #ffffff;
  border-radius: 5px;
  min-height: 50em;
}

#konten h2 {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0px;
  padding-top: .75em;
}

#konten h2 span {
  color: #e74f36;
}
#kosts-list a:hover {
  text-decoration: none;
}
.kost-item {
  border: 3px solid #e74f36;
  padding: 0;
  position: relative;
  text-align: center;
}
  .kost-item p {
    font-size: 1.7rem;
    color: #e74f36;
  }
  .kost-item p:hover {
    text-decoration: none;
  }

.box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(255,255,255,0.7);
}

.box p {
  text-align: center;
  font-size: 1.7rem;
  color: #e74f36;
  margin-bottom: 0;
  padding-top: .7em; 
  padding-bottom: .7em;
}

footer {
  background-color: #e74f36;
  margin-top: 1em;
  padding: 1em 1.5em;
}

footer p {
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0px;
}

footer nav {
  /*float: right;*/
  text-align: right;
}

footer nav a {
  font-size: 1.5em;
  margin-left: .75em;
  color: #ffffff;
}
