.pd-rl-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pd-rl-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.mg-tb-5 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.mg-b-1em {
  margin-bottom: 1em;
}
.pd-r-5 {
  padding-right: 5px;
}
.pd-l-5 {
  padding-left: 5px;
}
.mg-tb-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.mg-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mg-rl-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.pd-l-10 {
  padding-left: 10px;
}
.pd-r-10 {
  padding-right: 10px;
}
.hr-primary {
  border-color: #e74f36;
}
.hr-white {
  border-color: #fff;
}
.box-green {
  background-color: green;
}
#navbar-main {
  background: #e74f36;
  border-color: #e74f36;
  border-radius: 0;
  margin-bottom: 10px;
}

.navbar-brand {
  padding: 0;
}

.logo-md {
  height: 50px;
  padding: 5px 5px;
  margin-left: 10px;
}

.logo-xs {
  height: 50px;
  padding: 5px;
  margin-left: 10px;
}

#nav-welcome {
  margin-top: 0px;
}

#nav-welcome li {
  text-align: center;
}

#nav-welcome li a {
  color: #fff;
  text-transform: uppercase;
}

#nav-welcome li a:hover {
  background-color: #d4523c !important;
  font-weight: bold;
}

#hamburger:hover, #hamburger {
  background-color: #d4523c;
  border-color: #fff;
}

#hamburger span {
  background-color: #fff;
}