body {
  background: #f2dede;
  font-family: 'Roboto', sans-serif;
  right: 0;
  margin: 0;
/*  overflow: hidden;
  position: relative;*/
  padding-top: 60px;
  /*padding-bottom: 60px;*/
}

#main-section {
  background-color: #fff;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
}
#main-section h1 {
  text-align: center;
  color: #e74f36;
  text-transform: uppercase;
  font-size: 3rem;
}
#tentang {
  margin-bottom: 5em;
}
#tentang p {
  line-height: 2.5em;
  font-size: 1.7rem;
}
#tim {
  text-align: center;
}
#tim img {
  height: 200px;
  margin: 0 auto;
}
.tim-member {
  margin-top: 3em;
  margin-bottom: 3em;
}
.tim-member .posisi {
  font-size: 1.5rem;
  color: #e74f36;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 2px;
}
.tim-member .nama {
  font-size: 2.5rem;
  color: #000;
  text-transform: uppercase;
}
.tim-member span a{
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  color: #e74f36;
}
.hr-about {
  width: 30px;
  border: 1.5px solid #e74f36;
  margin-top: 2em;
  margin-bottom: 2em;
}
footer {
  background-color: #e74f36;
  margin-top: 1em;
  padding: 1em 1.5em;
}

footer p {
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0px;
}

footer nav {
  /*float: right;*/
  text-align: right;
}

footer nav a {
  font-size: 1.5em;
  margin-left: .75em;
  color: #ffffff;
}
