body {
  background: #f2dede;
  font-family: 'Roboto', sans-serif;
  right: 0;
  margin: 0;
/*  overflow: hidden;
  position: relative;*/
  padding-top: 4.5em;
  /*padding-bottom: 60px;*/
}
#notif {
  margin-bottom: 1em;
}
#main-profil {
  padding-left: 5px;
  padding-right: 5px;
}
#profil-bio {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
    #profil-bio img {
      height: 4em;
      margin-left: auto;
      margin-right: auto;
      /*float: left;*/
    }
    #profil-bio .user-name-status {
      text-align: center;
    }
    .user-name {
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #e74f36;
    }
    .user-status {
      font-size: 1.3rem;
      margin-bottom: .5em;
    }
    .bio-control {
      text-align: center;
    }
    .btn-tambah, .btn-tambah:active, .btn-tambah:focus {
      text-transform: uppercase;
      background-color: #e74f36;
      color: #fff;
      margin-bottom: 1em;
    }
    .btn-tambah:hover {
      color: #e74f36;
      background-color: #fff;
      border: 1px solid #e74f36;
    }
    .control {
      padding-left: .6em;
      text-align: left;
    }
    .control .active {
      color: #e74f36;
    }
    .control li {
      list-style-type: none;
      margin-bottom: .4em;
    }
    .control li i {
      margin-right: .4em;
    }
    .settings h3 {
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
      color: #e74f36;
    }
    .profil-setting {
      padding-left: .6em;
      margin-bottom: 0px;
    }
    .profil-setting li {
      list-style-type: none;
      text-align: left;
      margin-bottom: .5em;
    }
    .profil-setting li i {
      margin-right: .4em;
    }

#profil-konten {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 40em;
  /* margin-bottom: 5em; */
}
.kost-item h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
#kost-bio h5 {
  color: #e74f36;
}
#kost-bio p {
  margin-top: 0px;
  margin-bottom: 0px;
}
#kost-bio .well {
  padding: 15px;
}
footer {
  background-color: #e74f36;
  margin-top: 1em;
  padding: 1em 1.5em;
}

footer p {
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0px;
}

footer nav {
  /*float: right;*/
  text-align: right;
}

footer nav a {
  font-size: 1.5em;
  margin-left: .75em;
  color: #ffffff;
}
