body {
  background: #f2dede;
  font-family: 'Roboto', sans-serif;
  right: 0;
  margin: 0;
/*  overflow: hidden;
  position: relative;*/
  padding-top: 4.5em;
  /*padding-bottom: 60px;*/
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus {
  border-color: rgba(231, 79, 54, 0.7);
  box-shadow: none;
  outline: 0 none;
}

#main-profil {
  padding-left: 5px;
  padding-right: 5px;
}
#profil-konten {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 1em;
  min-height: 40em;
}
  #profil-konten h3 {
    margin-top: .4em;
    font-size: 1.2em;
    color: #e74f36;
    font-weight: normal;
  }
  #profil-konten .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .panel-heading h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.6rem;
    color: #e74f36;
  }
#email-user {
  margin-bottom: 10px;
}
.file-upload {
  position: relative;
  overflow: hidden;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
footer {
  background-color: #e74f36;
  margin-top: 1em;
  padding: 1em 1.5em;
}

footer p {
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0px;
}

footer nav {
  /*float: right;*/
  text-align: right;
}

footer nav a {
  font-size: 1.5em;
  margin-left: .75em;
  color: #ffffff;
}
